@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --pink-color: #f3bf97;
  --blue-button: #b3c8de;
}
.container {
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Montserrat', sans-serif;
}
.bg-gradient {
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
}
.rainbow {
  position: relative;
  bottom: -225px;
  height: 5%;
  width: 5%;
}
.card-width {
  max-width: 80vw;
}
.tw-anchor {
  color: purple;
}
.tw-anchor:hover {
  text-decoration: none;
  color: lightgoldenrodyellow;
}
.card-style {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
@media only screen and (min-width: 320px) {
  .rainbow {
    height: 15%;
    width: 15%;
  }
}
@media only screen and (min-width: 1200px) {
  .rainbow {
    bottom: -250px;
    right: 5px;
  }
}
